In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

from worldbank_data import DataWrangler

In [2]:
data_wrangler = DataWrangler()
source_spreadsheet = '68fd98a4-a721-4a4b-ba8b-4fa738699aa2_Data.csv'
df = data_wrangler.load_raw_data_from_excel(source_spreadsheet)
df

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Afghanistan,AFG,"Population, female",SP.POP.TOTL.FE.IN,4347394,4439156,4535392,4636170,4741527,4851553,...,14702050,15196504,15715314,16232001,16727437,17196034,17644126,18078879,18512030,18952076
1,Afghanistan,AFG,"Population, male",SP.POP.TOTL.MA.IN,4649573,4730250,4816050,4907030,5003245,5104765,...,15415361,15964874,16554278,17138803,17686166,18186994,18651985,19093043,19529727,19976265
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996967,9169406,9351442,9543200,9744772,9956318,...,30117411,31161378,32269592,33370804,34413603,35383028,36296111,37171922,38041757,38928341
3,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,537777811.111111,548888895.555556,546666677.777778,751111191.111111,800000044.444444,1006666637.77778,...,17804292964.1045,20001598505.7042,20561069558.2152,20484885119.7348,19907111418.9938,18017749073.6362,18869945678.4215,18353881129.5246,19291104007.6135,19807067268.1084
4,Afghanistan,AFG,"Life expectancy at birth, female (years)",SP.DYN.LE00.FE.IN,33.314,33.84,34.359,34.866,35.364,35.853,...,63,63.514,63.999,64.453,64.877,65.275,65.656,66.026,66.388,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2397,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2398,Last Updated: 11/23/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = data_wrangler.unpivot_data(df)
df

,Country Name,Country Code,Series Name,Series Code,Year,Metric
0,Afghanistan,AFG,"Population, female",SP.POP.TOTL.FE.IN,1960 [YR1960],4347394
1,Afghanistan,AFG,"Population, male",SP.POP.TOTL.MA.IN,1960 [YR1960],4649573
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,1960 [YR1960],8996967
3,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1960 [YR1960],537777811.111111
4,Afghanistan,AFG,"Life expectancy at birth, female (years)",SP.DYN.LE00.FE.IN,1960 [YR1960],33.314
...,...,...,...,...,...,...
146334,NaN,NaN,NaN,NaN,2020 [YR2020],NaN
146335,NaN,NaN,NaN,NaN,2020 [YR2020],NaN
146336,NaN,NaN,NaN,NaN,2020 [YR2020],NaN
146337,Data from database: World Development Indicators,NaN,NaN,NaN,2020 [YR2020],NaN
146338,Last Updated: 11/23/2021,NaN,NaN,NaN,2020 [YR2020],NaN

In [4]:
df = data_wrangler.clean_years(df)
df

,Country Name,Country Code,Series Name,Series Code,Year,Metric
0,Afghanistan,AFG,"Population, female",SP.POP.TOTL.FE.IN,1960,4347394
1,Afghanistan,AFG,"Population, male",SP.POP.TOTL.MA.IN,1960,4649573
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,1960,8996967
3,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,1960,537777811.111111
4,Afghanistan,AFG,"Life expectancy at birth, female (years)",SP.DYN.LE00.FE.IN,1960,33.314
...,...,...,...,...,...,...
146334,NaN,NaN,NaN,NaN,2020,NaN
146335,NaN,NaN,NaN,NaN,2020,NaN
146336,NaN,NaN,NaN,NaN,2020,NaN
146337,Data from database: World Development Indicators,NaN,NaN,NaN,2020,NaN
146338,Last Updated: 11/23/2021,NaN,NaN,NaN,2020,NaN